{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headTitle %}{{ 'Suppliers' | trans }}{% endblock %}

{% block content %}
    <web-mp-supplier-list
        cloak
        table-id="web-mp-supplier-list"
        table-config='{{ guiTableConfiguration(supplierTableConfiguration) }}'>
        <h1 title>{{ 'Suppliers' | trans }}</h1>
        <web-spy-button-link
            action
            url="/supplier-merchant-portal-gui/create-supplier"
            size="lg"
            variant="primary">
            {{ 'Add Supplier' | trans }}
        </web-spy-button-link>
    </web-mp-supplier-list>
{% endblock %}
