{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Suppliers' } %}
        {% block widget_content %}
            <a class="btn btn-primary m-b-sm" href="/supplier-gui/create">Create Supplier</a>
            {{ supplierTable | raw }}
        {% endblock %}
    {% endembed %}

{% endblock %}
